<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <span class="fo"><%= f.label :Название %></span>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :Позиция %>
    <%= f.text_area :position %>
  </div>
  <div class="field">
    <%= f.label :Дата %>
    <%= f.text_area :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
