<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="also">
    <div class="field na">
      <%= form.label :Название %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :Тайтл %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :Описание %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :Теги %>
      <%= form.text_area :tag %>
    </div>
  </div>

  <div class="go">
    <%= form.label :Обложка %>
    <%= form.file_field :image %>
  </div>

  <div class="go">
    <div class="actions l">
      <%= form.submit %>
    </div>
  </div>
<% end %>
