<p id="notice"><%= notice %></p>
<%= render "layouts/head" %>

<div class="cover">
  <div class="maininfo">
    <p>
      <strong>Название:</strong>
      <%= @post.name %>
    </p>

    <p>
      <strong>Описание:</strong>
      <%= @post.description %>
    </p>

    <p class="tags">
      <strong>Теги:</strong>
      <%= @post.tag %>
    </p>
  </div>
  <%= image_tag(@post.image.url, alt: 'Image', :class => "style_image")  if @post.image? %>
</div>


<div class="new_com">
  <h3>Добавить новое событие:</h3>
<%= render "comments/form" %>
</div>

<div class="ocassions">
  <h2>События таймлайна:</h2>
<%= render @post.comments.select(&:persisted?) %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
