<p id="notice"><%= notice %></p>
<%= render "layouts/head" %>

<div class="cover">
  <div class="maininfo">
    <p>
      <strong>Название:</strong>
      <%= @post.name %>
    </p>

    <p>
      <strong>Описание:</strong>
      <%= @post.description %>
    </p>

    <p class="tags">
      <strong>Теги:</strong>
      <%= @post.tag %>
    </p>
  </div>
  <%= image_tag(@post.image.url, alt: 'Image', :class => "style_image")  if @post.image? %>
</div>


<div class="new_com">
  <h3>Добавить новое событие:</h3>
  <%= form_for([@post, @post.comments.build]) do |f| %>
  	<div class="field">
  		<%= f.label :Название %><br />
  		<%= f.text_area :body %>
  	</div>
    <div class="field">
  		<%= f.label :position %><br />
  		<%= f.text_area :position %>
  	</div>
    <div class="field">
  		<%= f.label :date %><br />
  		<%= f.text_area :date %>
  	</div>

  	<div class="actions">
  		<%= f.submit %>
  	</div>
  <% end %>
</div>

<div class="ocassions">
  <h2>События таймлайна:</h2>
  <% @post.comments.each do |comment| %>
    <div class="together">
      <div class="icon"></div>
      <p>
        <b>Событие:</b>
        <%= comment.body %>
      </p>
    </div>

    <div class="yeah">
      <p>
        <b>Дата:</b>
        <%= comment.date %>
      </p>
      <p>
        <b>Позиция:</b>
        <%= comment.position %>
      </p>

    </div>

  <% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
